.title{ 
	color: blue;
    font-size: 50px;	
    margin-bottom: 10px; 
    text-align:center; 
    width: 210px; 
    border: solid black 2px; 
    font-family: sans-serif;
  } 
.center {
  text-align: center;
  border: solid black 2px;
}

input[type="button"] 
  { 
  background-color:#387ecb; 
  color: white;
  font-weight: bold;
  font-family: sans-serif; 
  border: solid black 2px; 
  width:100%; 
  } 

input[type="text"] 
  { 
  background-color:#387ecb; 
  border: solid black 2px; 
  width:100% 
  padding: 30px;
  } 
#grad {
  background-image: linear-gradient(to right, #E30047, purple);
  }