.TodoSpec{
    text-align: center;
    font-family: cursive;
    align-content: stretch;
    color: blueviolet;
    font-size: x-large;
}.DottedBox {
    margin: 40px;
    border: 5px dotted pink;
    size: 1500 px;
    opacity: 10;
}.DottedBox_content{
    font-size: 15px;
    text-align: center;
    color: blue;
    background: greenyellow;
    font-stretch: narrower;
}.Bk_gr{
    background-color: rgb(79, 128, 0);
}.DottedBox1{
    margin: 40px;
    border: 5px dotted pink;
    size: 1500 px;
    background-color: greenyellow;
}